In [19]:
import pandas as pd
import string

In [20]:
path = 'data/data.csv'
df = pd.read_csv(path)
df = df[['artists', 'popularity', 'year']]
counts = {}

In [3]:
for i in range(len(df)):
    year = df.iloc[i].year
    artists = df.iloc[i].artists.replace('"', "'").replace('[','').replace(']','').split("', '")
    pop = df.iloc[i].popularity
    for artist in artists:
        counts[(year, artist)] = counts.get((year,artist), 0) + pop

In [17]:
new_df = pd.DataFrame(columns=['year','artist','agg_popularity'])
for key in counts.keys():
    year, artist = key
    pop = counts[key]
    new_df = new_df.append({'year':year,'artist':artist,'agg_popularity':pop}, ignore_index=True)
new_df

NameError: name 'counts' is not defined

In [19]:
new_df.to_csv('data_yearly_artist_popularity.csv')

In [22]:
new_df = pd.read_csv('data/data_yearly_artist_popularity.csv')

In [23]:
new_df

       Unnamed: 0  year                           artist  agg_popularity
0               0  1920                    'Mamie Smith'              22
1               1  1920          'Screamin' Jay Hawkins'               7
2               2  1920                'Oscar Velazquez'              33
3               3  1920                           'Mixe'               2
4               4  1920  'Mamie Smith & Her Jazz Hounds'              10
...           ...   ...                              ...             ...
73899       73899  2021                   'Foo Fighters'              69
73900       73900  2021                      'Sean Paul'               1
73901       73901  2021                'Ludovico Einaudi               0
73902       73902  2021                Johannes Bornlöf'               0
73903       73903  2021                   'Alessia Cara'               0

[73904 rows x 4 columns]

In [36]:
for i in range(len(new_df['artist'])):
    a = new_df.iloc[i].artist
    if a[0]=="'":
        a = a[1:]
    if a[-1]=="'":
        a = a[:-1]
    new_df.at[i, 'artist'] = a

In [37]:
new_df

       Unnamed: 0  year                         artist  agg_popularity
0               0  1920                    Mamie Smith              22
1               1  1920          Screamin' Jay Hawkins               7
2               2  1920                Oscar Velazquez              33
3               3  1920                           Mixe               2
4               4  1920  Mamie Smith & Her Jazz Hounds              10
...           ...   ...                            ...             ...
73899       73899  2021                   Foo Fighters              69
73900       73900  2021                      Sean Paul               1
73901       73901  2021               Ludovico Einaudi               0
73902       73902  2021               Johannes Bornlöf               0
73903       73903  2021                   Alessia Cara               0

[73904 rows x 4 columns]

In [39]:
new_df.to_csv('data_yearly_artist_popularity_cleaned.csv')