In [2]:
import pandas as pd
import string

In [4]:
path = 'data/data.csv'
df = pd.read_csv(path)
df = df[['artists', 'popularity', 'year']]
counts = {}

In [5]:
for i in range(len(df)):
    year = df.iloc[i].year
    artists = df.iloc[i].artists.replace('"', "'").replace('[','').replace(']','').split("', '")
    pop = df.iloc[i].popularity
    for artist in artists:
        counts[(year, artist)] = counts.get((year,artist), 0) + pop

KeyboardInterrupt:

In [ ]:
new_df = pd.DataFrame(columns=['year','artist','agg_popularity'])
for key in counts.keys():
    year, artist = key
    pop = counts[key]
    new_df = new_df.append({'year':year,'artist':artist,'agg_popularity':pop}, ignore_index=True)
new_df

In [19]:
new_df.to_csv('data_yearly_artist_popularity.csv')

In [22]:
new_df = pd.read_csv('data/data_yearly_artist_popularity.csv')

In [11]:
new_df

       year                         artist agg_popularity
0      1920                    Mamie Smith             22
1      1920          Screamin' Jay Hawkins              7
2      1920                Oscar Velazquez             33
3      1920                           Mixe              2
4      1920  Mamie Smith & Her Jazz Hounds             10
...     ...                            ...            ...
16787  1987                   Marvin Sease             77
16788  1987                    Koko Taylor             43
16789  1987                  Dwight Yoakam            127
16790  1987                     K.T. Oslin             85
16791  1987                         Sandra             63

[16792 rows x 3 columns]

In [ ]:
for i in range(len(new_df['artist'])):
    a = new_df.iloc[i].artist
    if a[0]=="'":
        a = a[1:]
    if a[-1]=="'":
        a = a[:-1]
    new_df.at[i, 'artist'] = a

In [14]:
new_df

,year,artist,agg_popularity,artists_join
0,1920,Mamie Smith,22,mamie smith
1,1920,Screamin' Jay Hawkins,7,screamin jay hawkins
2,1920,Oscar Velazquez,33,oscar velazquez
3,1920,Mixe,2,mixe
4,1920,Mamie Smith & Her Jazz Hounds,10,mamie smith & her jazz hounds
...,...,...,...,...
16787,1987,Marvin Sease,77,marvin sease
16788,1987,Koko Taylor,43,koko taylor
16789,1987,Dwight Yoakam,127,dwight yoakam
16790,1987,K.T. Oslin,85,k.t. oslin
16791,1987,Sandra,63,sandra

In [ ]:
new_df.to_csv('data_yearly_artist_popularity_cleaned.csv')

# Connect yearly artist DF to data by artist DF

In [41]:
df_by_artist = pd.read_csv('data/data_by_artist.csv')
df_by_artist

,artists,acousticness,danceability,duration_ms,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,popularity,key,mode,count
0,"""Cats"" 1981 Original London Cast",0.598500,0.470100,267072.000000,0.376203,0.010261,0.283050,-14.434300,0.209150,114.128800,0.358320,38.200000,5,1,10
1,"""Cats"" 1983 Broadway Cast",0.862538,0.441731,287280.000000,0.406808,0.081158,0.315215,-10.690000,0.176212,103.044154,0.268865,31.538462,5,1,26
2,"""Fiddler On The Roof” Motion Picture Chorus",0.856571,0.348286,328920.000000,0.286571,0.024593,0.325786,-15.230714,0.118514,77.375857,0.354857,34.571429,0,1,7
3,"""Fiddler On The Roof” Motion Picture Orchestra",0.884926,0.425074,262890.962963,0.245770,0.073587,0.275481,-15.639370,0.123200,88.667630,0.372030,34.407407,0,1,27
4,"""Joseph And The Amazing Technicolor Dreamcoat""...",0.510714,0.467143,270436.142857,0.488286,0.009400,0.195000,-10.236714,0.098543,122.835857,0.482286,42.000000,5,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32534,김효근,0.939000,0.174000,341821.000000,0.321000,0.756000,0.695000,-13.411000,0.042200,138.300000,0.055400,0.000000,3,1,1
32535,나율,0.717000,0.591500,241281.500000,0.473500,0.000000,0.105000,-6.588500,0.053700,107.599000,0.507500,16.000000,1,1,4
32536,미스티,0.416000,0.686000,216715.000000,0.822000,0.000000,0.110000,-6.300000,0.080200,122.047000,0.625000,0.000000,5,0,2
32537,시온 Zion & 한해 Hanhae of 팬텀 Phantom,0.288000,0.739000,242480.000000,0.475000,0.000000,0.075700,-8.920000,0.379000,81.490000,0.800000,8.000000,2,0,2
32538,조정현,0.568000,0.447000,237688.000000,0.215000,0.000001,0.064900,-16.478000,0.027200,71.979000,0.177000,30.000000,10,1,2

In [15]:
new_df['artists_join'] = new_df['artist'].apply(lambda x: x.replace('"', '').replace("'", '').strip().lower()).astype(str)
new_df = new_df.drop(['year', 'agg_popularity'], axis=1)
new_df= new_df.drop_duplicates()

In [16]:
new_df

                              artist                   artists_join
0                        Mamie Smith                    mamie smith
1              Screamin' Jay Hawkins           screamin jay hawkins
2                    Oscar Velazquez                oscar velazquez
3                               Mixe                           mixe
4      Mamie Smith & Her Jazz Hounds  mamie smith & her jazz hounds
...                              ...                            ...
16785                   Tim Cappello                   tim cappello
16787                   Marvin Sease                   marvin sease
16788                    Koko Taylor                    koko taylor
16790                     K.T. Oslin                     k.t. oslin
16791                         Sandra                         sandra

[8193 rows x 2 columns]

In [106]:
df_by_artist['artists_join'] = df_by_artist['artists'].apply(lambda x: x.replace('"', '').replace("'", '').strip().lower()).astype(str)

In [107]:
df_by_artist

,artists,acousticness,danceability,duration_ms,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,popularity,key,mode,count,artists_join
0,"""Cats"" 1981 Original London Cast",0.598500,0.470100,267072.000000,0.376203,0.010261,0.283050,-14.434300,0.209150,114.128800,0.358320,38.200000,5,1,10,cats 1981 original london cast
1,"""Cats"" 1983 Broadway Cast",0.862538,0.441731,287280.000000,0.406808,0.081158,0.315215,-10.690000,0.176212,103.044154,0.268865,31.538462,5,1,26,cats 1983 broadway cast
2,"""Fiddler On The Roof” Motion Picture Chorus",0.856571,0.348286,328920.000000,0.286571,0.024593,0.325786,-15.230714,0.118514,77.375857,0.354857,34.571429,0,1,7,fiddler on the roof” motion picture chorus
3,"""Fiddler On The Roof” Motion Picture Orchestra",0.884926,0.425074,262890.962963,0.245770,0.073587,0.275481,-15.639370,0.123200,88.667630,0.372030,34.407407,0,1,27,fiddler on the roof” motion picture orchestra
4,"""Joseph And The Amazing Technicolor Dreamcoat""...",0.510714,0.467143,270436.142857,0.488286,0.009400,0.195000,-10.236714,0.098543,122.835857,0.482286,42.000000,5,1,7,joseph and the amazing technicolor dreamcoat 1...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32534,김효근,0.939000,0.174000,341821.000000,0.321000,0.756000,0.695000,-13.411000,0.042200,138.300000,0.055400,0.000000,3,1,1,김효근
32535,나율,0.717000,0.591500,241281.500000,0.473500,0.000000,0.105000,-6.588500,0.053700,107.599000,0.507500,16.000000,1,1,4,나율
32536,미스티,0.416000,0.686000,216715.000000,0.822000,0.000000,0.110000,-6.300000,0.080200,122.047000,0.625000,0.000000,5,0,2,미스티
32537,시온 Zion & 한해 Hanhae of 팬텀 Phantom,0.288000,0.739000,242480.000000,0.475000,0.000000,0.075700,-8.920000,0.379000,81.490000,0.800000,8.000000,2,0,2,시온 zion & 한해 hanhae of 팬텀 phantom
32538,조정현,0.568000,0.447000,237688.000000,0.215000,0.000001,0.064900,-16.478000,0.027200,71.979000,0.177000,30.000000,10,1,2,조정현

In [109]:
merged_final = new_df.merge(df_by_artist, on='artists_join', how='right')

In [3]:
merged_final=merged_final.rename(columns={'artist':'artist_bubble'})
merged_final

NameError: name 'merged_final' is not defined

In [118]:
merged_final.to_csv('data/data_bubble_to_artist.csv')

# JK, now really doing it

In [19]:
df_all = pd.read_csv('data/data.csv')
df_all_split = pd.DataFrame(columns=['acousticness', 'artists', 'danceability', 'duration_ms', 'energy','instrumentalness','key','liveness','loudness','name','popularity', 'release_date','tempo','year'])

In [22]:
for i in range(len(df_all)):
    artists = df_all.iloc[i].artists.replace('"', "'").replace('[','').replace(']','').split("', '")
    for artist in artists:
        df_all_split = df_all_split.append({'acousticness':df_all.iloc[i].acousticness, 'artists':artist, 'danceability':df_all.iloc[i].danceability, 'duration_ms':df_all.iloc[i].duration_ms,
        'energy':df_all.iloc[i].energy, 'instrumentalness':df_all.iloc[i].instrumentalness,'key':df_all.iloc[i].key, 'liveness':df_all.iloc[i].liveness,'loudness':df_all.iloc[i].loudness,
        'name':df_all.iloc[i].name,'popularity':df_all.iloc[i].popularity, 'release_date':df_all.iloc[i].release_date,'tempo':df_all.iloc[i].tempo,'year':df_all.iloc[i].year}, ignore_index=True)
df_all_split

KeyboardInterrupt:

In [ ]:
df_all_split.to_csv('data/data_bubble_to_artist.csv')