In [41]:
import pandas as pd
import string

In [42]:
path = 'data/data.csv'
df = pd.read_csv(path)
df = df[['artists', 'popularity', 'year']]
counts = {}

In [43]:
for i in range(len(df)):
    year = df.iloc[i].year
    artists = df.iloc[i].artists.replace('"', "'").replace('[','').replace(']','').split("', '")
    pop = df.iloc[i].popularity
    for artist in artists:
        if artist[0]=="'":
            artist = artist[1:]
        if artist[-1]=="'":
            artist = artist[:-1]
        counts[(year, artist)] = counts.get((year,artist), 0) + pop

In [44]:
new_df = pd.DataFrame(columns=['year','artist','agg_popularity'])
for key in counts.keys():
    year, artist = key
    pop = counts[key]
    new_df = new_df.append({'year':year,'artist':artist,'agg_popularity':pop}, ignore_index=True)
new_df

       year                         artist agg_popularity
0      1920                    Mamie Smith             27
1      1920          Screamin' Jay Hawkins              7
2      1920                Oscar Velazquez             33
3      1920                           Mixe              2
4      1920  Mamie Smith & Her Jazz Hounds             10
...     ...                            ...            ...
65557  2021                   Foo Fighters             69
65558  2021                      Sean Paul              1
65559  2021               Ludovico Einaudi              0
65560  2021               Johannes Bornlöf              0
65561  2021                   Alessia Cara              0

[65562 rows x 3 columns]

In [45]:
new_df.to_csv('data/data_yearly_artist_popularity_cleaned.csv')

In [46]:
new_df = pd.read_csv('data/data_yearly_artist_popularity_cleaned.csv')

In [50]:
new_df[new_df.artist.str[0:5]=='Mambo']

       Unnamed: 0  year       artist  agg_popularity
19194       19194  2016  Mambo Kingz             145
39353       39353  2018  Mambo Kingz             141
45153       45153  2021  Mambo Kingz              70
60406       60406  2017  Mambo Kingz              68
60611       60611  2019  Mambo Kingz              73

In [ ]:
# for i in range(len(new_df['artist'])):
#     a = new_df.iloc[i].artist
#     if a[0]=="'":
#         a = a[1:]
#     if a[-1]=="'":
#         a = a[:-1]
#     new_df.at[i, 'artist'] = a

# Connect yearly artist DF to data by artist DF

In [51]:
df_all = pd.read_csv('data/data.csv')
df_all['artists'] = df_all['artists'].apply(lambda x: x.replace('"', "'").replace('[','').replace(']','').split("', '"))

In [15]:
new_df['artists_join'] = new_df['artist'].apply(lambda x: x.replace('"', '').replace("'", '').strip().lower()).astype(str)
new_df = new_df.drop(['year', 'agg_popularity'], axis=1)
new_df= new_df.drop_duplicates()

In [16]:
new_df

                              artist                   artists_join
0                        Mamie Smith                    mamie smith
1              Screamin' Jay Hawkins           screamin jay hawkins
2                    Oscar Velazquez                oscar velazquez
3                               Mixe                           mixe
4      Mamie Smith & Her Jazz Hounds  mamie smith & her jazz hounds
...                              ...                            ...
16785                   Tim Cappello                   tim cappello
16787                   Marvin Sease                   marvin sease
16788                    Koko Taylor                    koko taylor
16790                     K.T. Oslin                     k.t. oslin
16791                         Sandra                         sandra

[8193 rows x 2 columns]

In [106]:
df_by_artist['artists_join'] = df_by_artist['artists'].apply(lambda x: x.replace('"', '').replace("'", '').strip().lower()).astype(str)

In [52]:
df_all_split = df_all.explode('artists').reset_index(drop=True)
df_all_split

,acousticness,artists,danceability,duration_ms,energy,explicit,id,instrumentalness,key,liveness,loudness,mode,name,popularity,release_date,speechiness,tempo,valence,year
0,0.991000,'Mamie Smith',0.598,168333,0.224,0,0cS0A1fUEUd1EW3FcF8AEI,0.000522,5,0.3790,-12.628,0,Keep A Song In Your Soul,12,1920,0.0936,149.976,0.6340,1920
1,0.643000,'Screamin' Jay Hawkins',0.852,150200,0.517,0,0hbkKFIJm7Z05H8Zl9w30f,0.026400,5,0.0809,-7.261,0,I Put A Spell On You,7,1920-01-05,0.0534,86.889,0.9500,1920
2,0.993000,'Mamie Smith',0.647,163827,0.186,0,11m7laMUgmOKqI3oYzuhne,0.000018,0,0.5190,-12.098,1,Golfing Papa,4,1920,0.1740,97.600,0.6890,1920
3,0.000173,'Oscar Velazquez',0.730,422087,0.798,0,19Lc5SfJJ5O1oaxY0fpwfh,0.801000,2,0.1280,-7.311,1,True House Music - Xavier Santos & Carlos Gomi...,17,1920-01-01,0.0425,127.997,0.0422,1920
4,0.295000,'Mixe',0.704,165224,0.707,1,2hJjbsLCytGsnAHfdsLejp,0.000246,10,0.4020,-6.036,0,Xuniverxe,2,1920-10-01,0.0768,122.076,0.2990,1920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234367,0.009170,Tony T',0.792,147615,0.866,0,46LhBf6TvYjZU2SMvGZAbn,0.000060,6,0.1780,-5.089,0,The One,0,2020-12-25,0.0356,125.972,0.1860,2020
234368,0.795000,'Alessia Cara',0.429,144720,0.211,0,7tue2Wemjd0FZzRtDrQFZd,0.000000,4,0.1960,-11.665,1,A Little More,0,2021-01-22,0.0360,94.710,0.2280,2021
234369,0.806000,'Roger Fly',0.671,218147,0.589,0,48Qj61hOdYmUCFJbpQ29Ob,0.920000,4,0.1130,-12.393,0,Together,0,2020-12-09,0.0282,108.058,0.7140,2020
234370,0.920000,'Taylor Swift',0.462,244000,0.240,1,1gcyHQpBQ1lfXGdhZmWrHP,0.000000,0,0.1130,-12.077,1,champagne problems,69,2021-01-07,0.0377,171.319,0.3200,2021
234371,0.239000,'Roger Fly',0.677,197710,0.460,0,57tgYkWQTNHVFEt6xDKKZj,0.891000,7,0.2150,-12.237,1,Improvisations,0,2020-12-09,0.0258,112.208,0.7470,2020

In [53]:
df_all_split.to_csv('data/data_bubble_to_artist.csv')
df_all_split = pd.read_csv('data/data_bubble_to_artist.csv')

       Unnamed: 0  year                     artist  agg_popularity
16971       16971  2020             Workout Music             1564
26987       26987  2019             Workout Music              300
33309       33309  2017             Workout Music               21
44651       44651  2021         Workout Motivation               0
44914       44914  2017  Workout Motivation Center               0
50004       50004  2016              Workout Buddy               0
55231       55231  2016           Workout Music Tv               9
55233       55233  2017              Workout Buddy               2
60539       60539  2018              Workout Buddy               0
60542       60542  2018      Workout Dance Factory               1
60547       60547  2018             Workout Music                2
65185       65185  2017         Work This! Workout               0

In [54]:
df_all_split[df_all_split.artists.str[0:5] == '\'Work']

,Unnamed: 0,acousticness,artists,danceability,duration_ms,energy,explicit,id,instrumentalness,key,liveness,loudness,mode,name,popularity,release_date,speechiness,tempo,valence,year
45908,45908,0.034200,'Workout Music ',0.694,247280,0.952,0,1qo6ZFJzZ3fah2owpZltHS,0.210000,8,0.0774,-1.686,1,Blinding Lights (Cardio + Running Workout Mix),21,2020-12-23,0.1790,135.476,0.962,2020
45927,45927,0.037100,'Workout Music ',0.665,250714,0.870,0,5AismxfhycOrAUgsXlnGRm,0.051100,1,0.1820,-7.622,0,Kings & Queens (Cardio + Running Workout Mix),19,2020-12-23,0.0650,139.991,0.884,2020
45933,45933,0.000966,'Workout Music ',0.772,255428,0.676,0,5rEjKaIQZLrD58PNpCXou6,0.000719,1,0.0277,-9.380,0,Bang! (Cardio + Running Workout Mix),18,2020-12-23,0.1220,139.983,0.958,2020
45951,45951,0.000329,'Workout Music ',0.562,250714,0.723,0,5cPGbdhn8f2g93ahuZeHok,0.459000,10,0.4020,-7.653,0,Holy (Cardio + Running Workout Mix),17,2020-12-23,0.0298,139.918,0.451,2020
45953,45953,0.000329,'Workout Music ',0.562,250714,0.723,0,5cPGbdhn8f2g93ahuZeHok,0.459000,10,0.4020,-7.653,0,Holy (Cardio + Running Workout Mix),17,2020-12-23,0.0298,139.918,0.451,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233990,233990,0.008180,'Workout Music ',0.728,270080,0.802,0,4PuHzntmfWwlmT5FOaLPxO,0.000000,5,0.0637,-1.331,0,Good as Hell (Remix),13,2019-12-26,0.0468,127.968,0.928,2019
233995,233995,0.030700,'Workout Music ',0.773,256800,0.745,0,6cnCKULXZccT8eVBLWQoGk,0.054600,0,0.0898,-5.535,1,Only Human (Remix),13,2019-12-26,0.0442,127.991,0.898,2019
233998,233998,0.013800,'Workout Music ',0.734,277493,0.809,0,4ZzfKwqPfy02fpQxuh9Zz3,0.012600,0,0.0635,-5.655,0,RITMO (Bay Boys For Life) [Remix],14,2019-12-26,0.1150,128.015,0.965,2019
234001,234001,0.065400,'Workout Music ',0.533,287987,0.879,0,3O1lskEk6MF8bEQ76Q7Cmv,0.000000,5,0.0147,-3.736,1,Beautiful People (Remix),14,2019-12-26,0.0492,129.943,0.398,2019
234003,234003,0.003580,'Workout Music ',0.764,268120,0.828,0,4fBQiIB6X7sE5RWK7mZq8N,0.005500,2,0.0763,-3.625,1,Tusa (Remix),16,2019-12-26,0.0810,127.994,0.931,2019

In [55]:
for i in range(len(df_all_split['artists'])):
    a = df_all_split.iloc[i].artists
    if a[0]=="'":
        a = a[1:]
    if a[-1]=="'":
        a = a[:-1]
    df_all_split.at[i, 'artists'] = a.strip()

In [56]:
new_df['artist'] = new_df['artist'].str.strip()

In [57]:
new_df.to_csv('data/data_yearly_artist_popularity_cleaned.csv')

In [59]:
new_df

       Unnamed: 0  year                         artist  agg_popularity
0               0  1920                    Mamie Smith              27
1               1  1920          Screamin' Jay Hawkins               7
2               2  1920                Oscar Velazquez              33
3               3  1920                           Mixe               2
4               4  1920  Mamie Smith & Her Jazz Hounds              10
...           ...   ...                            ...             ...
65557       65557  2021                   Foo Fighters              69
65558       65558  2021                      Sean Paul               1
65559       65559  2021               Ludovico Einaudi               0
65560       65560  2021               Johannes Bornlöf               0
65561       65561  2021                   Alessia Cara               0

[65562 rows x 4 columns]

In [58]:
df_all_split.to_csv('data/data_bubble_to_artist.csv')

## Code that didn't work right

In [109]:
merged_final = new_df.merge(df_by_artist, on='artists_join', how='right')

In [3]:
merged_final=merged_final.rename(columns={'artist':'artist_bubble'})
merged_final

NameError: name 'merged_final' is not defined

In [118]:
merged_final.to_csv('data/data_bubble_to_artist.csv')

# JK, now really doing it

In [19]:
df_all = pd.read_csv('data/data.csv')
df_all_split = pd.DataFrame(columns=['acousticness', 'artists', 'danceability', 'duration_ms', 'energy','instrumentalness','key','liveness','loudness','name','popularity', 'release_date','tempo','year'])

In [24]:
for i in range(len(df_all)):
    artists = df_all.iloc[i].artists.replace('"', "'").replace('[','').replace(']','').split("', '")
    for artist in artists:
        df_all_split = df_all_split.append({'acousticness':df_all.iloc[i].acousticness, 'artists':artist, 'danceability':df_all.iloc[i].danceability, 'duration_ms':df_all.iloc[i].duration_ms,
        'energy':df_all.iloc[i].energy, 'instrumentalness':df_all.iloc[i].instrumentalness,'key':df_all.iloc[i].key, 'liveness':df_all.iloc[i].liveness,'loudness':df_all.iloc[i].loudness,
        'name':df_all.iloc[i].name,'popularity':df_all.iloc[i].popularity, 'release_date':df_all.iloc[i].release_date,'tempo':df_all.iloc[i].tempo,'year':df_all.iloc[i].year}, ignore_index=True)
df_all_split

In [ ]:
df_all_split.to_csv('data/data_bubble_to_artist.csv')